/* Base Application Styles */
/*
body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
*/

// online
@font-face {
  font-family: 'iconfont';  /* project id 270381 */
  src: url('//at.alicdn.com/t/font_27vcp3m08fmq85mi.eot');
  src: url('//at.alicdn.com/t/font_27vcp3m08fmq85mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_27vcp3m08fmq85mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_27vcp3m08fmq85mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_27vcp3m08fmq85mi.svg#iconfont') format('svg');
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #212121;
}

.content {
  width: 100%;
  height: 100%;
}

/* stage */
.stage {
  position: relative;
  width: 100%;
  height: 100%;
}
/* image */
.sec-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  perspective: 1800px;

  @at-root {

    .img-figure {
      box-sizing: border-box;
      position: absolute;
      margin: 0;
      padding: 25px;
      // padding: 40px;
      width: 320px;
      height: 280px;
      background-color: white;
      cursor: pointer;

      transform-origin: 0 0;
      transform-style: preserve-3d;
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;

      img {
        width: 100%;
        // height: 100%;
      }

      &.is-inverse {
        transform: translate(320px) rotateY(180deg);
      }
    }

    figcaption {
      text-align: center;

      .img-title {
        margin-top: 20px;
        color:  #a7a2a0;
        font-size: 16px;
      }

      .img-back {
        position: absolute;
        top: 0;
        left: 0;

        box-sizing: border-box;

        width: 100%;
        height: 100%;
        padding: 50px 40px;
        font-size: 22px;
        line-height: 1.25;
        text-align: center;
        background-color: white;

        transform: rotateY(180deg) translateZ(1px);

        p {
          margin: 0;
        }
      }
    }
  }
}

/* nav-controller */
.nav-controller {
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;

  @at-root {
    .controller-unit {
      display: inline-block;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      transform: scale(.5);
      background-color: #ACB3BF;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;

      transition: transform .6s ease-in-out, background-color .3s;

      &.is-center {
        line-height: 30px;
        transform: scale(1);
        background-color: #828B99;
        &::after {
          color: white;
          font-family: "iconfont";
          content: "\e6ad"; // unicode 不是代码
          font-size: 100%;
          -webkit-font-smoothing: antialiased; // 各浏览器消除锯齿的方式
          -moz-osx-font-smoothing: grayscale;
          -webkit-text-stroke-width: 0.8px;
        }
        &.is-inverse {
          background-color: #777;
          transform: rotateY(180deg);
        }
      }

    }
  }
}
